:host {
  display: block;
  overflow-y: auto;
  height: 100%;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iframe {
  height: 43.125em;
  width: 62.5em;
  max-width: 95%;
  max-height: 95%;
}
