:host {
  display: block;
  overflow-y: auto;
  height: 100%;
}

.trip-row:hover {
  cursor: pointer;
}

.trip-info {
  border-style: solid;
  border-width: 0.1em;
  border-color: black;
}

.selected {
  border: green;
  border-style: dashed;
  border-width: 1px;
}

div.scrollx,
div.scrolly {
  position: relative;
  overflow: hidden;
}

div.scrollx {
  overflow-x: auto;
}

div.scrolly {
  overflow-y: auto;
}

div.trips {
  height: 90%;
}

ion-grid {
  height: inherit;
}

ion-row.trips {
  min-height: 70%;
}

ion-row.center {
  justify-content: center;
}

ion-note.primary {
  color: #3880ff;
}

ion-note.success {
  color: #2dd36f;
}

ion-note.danger {
  color: #eb445a;
}
