ion-select {
    justify-content: center;
  }

ion-select::part(placeholder) {
  color: #20a08a;
  opacity: 1;
}

ion-select::part(text) {
  color: #545ca7;
  flex: 0 0 auto;
  }

.icon {
  text-align: center;
}
form {
  width:500px;
}
table {
  width: 100%;
  flex: 1;
  border-collapse: collapse;
  table-layout: fixed;
}

table th, td {
  border: 1px solid black;
}

th,td {
  height: 50px;
}

td.checkbox {
  text-align: center;
}