table {
    width: 100%;
    flex: 1;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  table th, td {
    border: 1px solid black;
  }
  
  th,td {
    height: 50px;
  }

  td.score {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }

  td.region {
    color: #00554e;
  }